@font-face {
    font-family: FontR;
    src: url(./Fonts/672a4022c04412b253b0aeb9_Gabarito-Regular.woff2);
}

@font-face {
    font-family: FontB;
    src: url(./Fonts/672a4022c04412b253b0ae96_Gabarito-Bold.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FontR;
    font-weight: 600;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

/* hero - section */

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* water-effect */
.background{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

.unicorn-embed{
    width: 100%;
    height: 100%;
}
